@model IEnumerable<ScriptQuizWeb.ViewModels.Scripts.Commons.ScriptResponseModel>

@{
    ViewData["Title"] = "Script List";
}

<div class="text-center">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Section)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Content)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Section)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Content)
                    </td>
                    <td>
                        <a asp-action="Delete" asp-route-id="@item.Id" onclick="return confirm('削除してよろしいですか？')">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<a asp-action="Create">Create</a>
